/* 网页css初始化 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

em,
i {
    font-style: normal;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-size: 12px;
    color: #8d8d8d;
}

input {
    border: 0;
    outline: none;
}

button {
    border: 0;
}