/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}

/* 声明字体 */
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?m9ued1');
    src: url('../fonts/icomoon.eot?m9ued1#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?m9ued1') format('truetype'),
        url('../fonts/icomoon.woff?m9ued1') format('woff'),
        url('../fonts/icomoon.svg?m9ued1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.style_red {
    color: #c81623;
}

/* 快捷导航模块 */
.shortcut {
    height: 31px;
    line-height: 31px;
    background: #F1f1f1;
}

.shortcut ul li {
    float: left;
}

/* 选择ul里为偶数的li */
.shortcut .fr ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    background: #666;
    margin: 9px 15px;
}

.arrow-icon::after {
    font-family: 'icomoon';
    content: '\ea50';
    margin-left: 7px;

}

/* header模块 */
.header {
    height: 105px;
    position: relative;
}

.logo {
    position: absolute;
    top: 25px;
    width: 170px;
    height: 55px;
}

.logo a {
    display: block;
    width: 170px;
    height: 55px;
    font-size: 0;
    background: url(../images/logo.png) no-repeat;
    background-size: 100%;
}

.search {
    position: absolute;
    top: 25px;
    left: 346px;
    width: 538px;
    height: 36px;
    border: 2px solid #c81623;
}

.search input {
    float: left;
    width: 453px;
    height: 32px;
    padding: 10px;
}

.search button {
    float: left;
    width: 81px;
    height: 32px;
    background: #c81623;
    font-size: 16px;
    color: white;
}

.hotwords {
    position: absolute;
    top: 66px;
    left: 346px;
}

.hotwords a {
    padding: 10px;
}

.shopcar {
    position: absolute;
    top: 25px;
    right: 60px;
    width: 140px;
    height: 35px;
    line-height: 35px;

    text-align: center;
    border: 1px solid #dfdfdf;
    background: #f7f7f7;
}

.shopcar::before {
    font-family: 'icomoon';
    content: '\e93a';
    margin-right: 5px;
    color: #c81623;
}

.shopcar::after {
    font-family: 'icomoon';
    content: '\ea42';
    margin-left: 10px;
}

.shopcar .count {
    position: absolute;
    height: 14px;
    line-height: 14px;
    padding: 0 5px;
    top: -4px;
    color: white;
    border-radius: 7px 7px 7px 0;
    background: #c81623;
}

.nav {
    height: 47px;
    border-bottom: 2px solid #b1191b;
}

.dropdown {
    float: left;
    width: 210px;
    height: 45px;
    background: #b1191b;
}


.navitems {
    float: left;
}

.dropdown .dt {
    width: 100%;
    height: 100%;
    line-height: 45px;
    text-align: center;
    font-size: 16px;
    color: white;
}

.dropdown .dd {
    width: 210px;
    height: 465px;
    background: #c81623;
    margin-top: 2px;
    /* display: none; */
}

.dropdown .dd ul li {
    height: 31px;
    line-height: 31px;
    margin-left: 2px;
    padding-left: 10px;
}

.dropdown .dd ul li:after {
    font-family: 'icomoon';
    content: '\ea42';
    float: right;
    margin-right: 10px;
}

.dropdown .dd ul li a {
    color: white;
    font-size: 14px;
    padding-right: 3px;
}

.dropdown .dd ul li:hover {
    background: white;
}

.dropdown .dd ul li:hover a {

    color: #c81623;
}

.navitems ul li {
    float: left;
}

.navitems ul li a {
    display: block;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    padding: 0 25px;
    color: #c5c5c5;
}

.navitems ul li a:hover {
    color: #c81623;
}

.footer {
    height: 415px;
    background: #f5f5f5;
    padding-top: 30px;
}

.mod_service {
    height: 80px;
    border-bottom: 1px solid #c5c5c5;
}

.mod_service ul li {
    width: 300px;
    height: 50px;

    float: left;
    padding-left: 35px;
}

.mod_service ul li img {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 7px;
}

.mod_service ul li h4 {
    font-size: 14px;
    color: #747474;
    margin-top: 7px;
}

.mod_service ul li h5 {
    font-size: 12px;
    color: #a9a9a9;
}

.mod_help {
    height: 185px;
    border-bottom: 1px solid #dfdfdf;
    padding-left: 25px;
    margin-top: 35px;
}

.mod_help dl {
    float: left;
    width: 195px;
}

dl dt {
    line-height: 35px;
    font-size: 17px;
}

.mod_help dl:last-child {
    text-align: center;
}

.mod_copyright {
    text-align: center;
    padding-top: 20px;
}

.links {
    margin-bottom: 15px;
}

.links a {
    padding: 0 5px;
}

.links a:after {
    content: '|';
    padding-left: 5px;
}