.main {
    width: 980px;
    height: 455px;
    margin-left: 220px;
    margin-top: 10px;
}

.focus {
    width: 721px;
    height: 455px;
    background: skyblue;
    float: left;
}

.newsflash {
    float: right;
    width: 250px;
    height: 455px;

}

.news {
    height: 165px;
    border: 1px solid #e4e4e4;
}

.news-hd {
    height: 33px;
    line-height: 33px;
    border-bottom: 1px dotted #e4e4e4;
    padding: 0 15px;
}

.news-hd h5 {
    font-size: 15px;
    float: left;
}

.news-hd .more {
    float: right;
}

.news-hd .more::after {
    font-family: 'iconmoon';
    content: '\ea42';
}

.news-bd {
    padding: 5px 5px 0;
}

.news-bd ul li {
    height: 24px;
    line-height: 24px;
}

.news-bd ul li a:hover {
    color: #c81623;
}

.lifeservice {
    height: 209px;
    border: 1px solid #e4e4e4;
    overflow: hidden;
}

.lifeservice ul {
    width: 252px;
}

.lifeservice ul li {
    float: left;
    width: 63px;
    height: 71px;
    border-bottom: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    text-align: center;
}

.lifeservice ul li i {
    display: inline-block;
    width: 24px;
    height: 24px;

    margin-top: 12px;
    background: url(../images/iphone.png);
}

.bargain {
    margin-top: 5px;
}

/* 推荐模块 */
.recom {
    height: 163px;
    margin-top: 12px;
}

.recom>div {
    float: left;
}

.recom_hd {
    height: 163px;
    background: #5c5251;
}

.recom_bd ul li {
    float: left;
    position: relative;
}

.recom_bd ul li img {
    width: 248px;
    height: 163px;
}

.recom_bd ul li:nth-child(-n+3)::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 0;
    width: 1px;
    height: 145px;
    background: #5c5251;
}

.likes {
    margin-top: 12px;
    position: relative;
}

.likes::before {
    content: '';
    display: block;

}

.likes::after {
    content: '';
    display: block;
    clear: both;
}

.like_hd {
    height: 30px;
    line-height: 30px;
}

.like_hd h3 {
    float: left;
    font-size: 16px;
}

.like_hd a {
    float: right;
    color: #b1b1b1;
    position: absolute;
    right: 50px;
}

.like_hd a::after {
    font-family: 'icomoon';
    content: '\ea09';
    margin-left: 10px;
    height: 30px;
    line-height: 30px;
}

.like_bd {
    height: 250px;
    border: 1px solid #e4e4e4;

}

.like_bd ul {
    position: relative;
}

.like_bd ul li {
    float: left;
    width: 239px;
    height: 250px;
    padding: 0 35px;
}

.like_bd ul li:nth-child(-n+4) {
    border-right: 1px solid #e4e4e4;
}

.like_bd ul li i img {
    width: 170px;
    height: 170px;
}

.like_bd ul li a {
    font-size: 16px;
    color: black;
}

.like_bd ul li h4 a {
    font-size: 22px;
    color: #c81623;
}

/* 楼层 区 */
.floor .w {
    margin-top: 30px;
}


.box_hd {
    height: 30px;
    border-bottom: 2px solid #c81623;
}

.box_hd {
    color: #c81623;
}

.box_hd h2 {
    float: left;
}

.tab_list {
    float: right;
    line-height: 30px;
}

.tab_list ul li {
    float: left;
    padding: 0 15px;
}

.box_bd {
    height: 361px;
}

.tab_list_item>div {
    float: left;
    height: 361px;
}

.col_210 {
    width: 210px;
    text-align: center;
}

.col_210 ul {
    margin-top: 12px;
    padding-left: 12px;
}

.col_210 ul li {
    float: left;
    width: 85px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border-bottom: 1px solid #e4e4e4;
    margin-right: 10px;
}

.col_329 {
    width: 329px;
    text-align: center;

}

.col_221 {
    width: 221px;
    border-right: 1px solid #e4e4e4;
    /* border-left: 1px solid #e4e4e4; */
}

.bb {
    display: block;
    border-bottom: 1px solid #e4e4e4;
}

.col_219 {
    width: 219px;
}