body {

}
.header {
    width: 100vw;
    height: 100vh;
    position: relative;
}
.header::before {
    content: "";
    display: block;
    clear: both;
}
.nav {
    position: fixed;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    z-index: 1;
    background: rgba(255, 255, 255, .4);
    transform: translateY(-50px);
    transition: .5s;
}
.dropdown {
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    font-size: 25px;
    font-weight: bold;
    background: rgba(0, 0, 0, .3);
    border-radius: 25px;
}
.navcenter {
    display: flex;
    justify-content: center;
}
.navcenter ul {
    height: 100%;
}
.navcenter ul li {
    float: left;

}
.navcenter ul li a {
    display: block;
    font-size: 20px;
    font-weight: 500;
    padding: 0 20px;
    margin: 0 10px;
}
.navcenter ul li:hover {
    background: rgba(255, 255, 255, .6);
    border-radius: 25px;
}
.navright {
    justify-content: center;
    width: 100px;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    top: 0;
    right: 0;
}
.img {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: url("../images/index.jpg") no-repeat center;
    background-size: cover;
}

/* 主体页面 */
.main {
    width: 100%;
    height: 50vh;
    background: rgba(0, 0, 0, .3);
    margin: 25px 0;
}
/* 用户区 */
.container {
    width: 70vw;
    height: 40vh;
    margin: 0 auto;
    background: rgba(255, 255, 255, .3);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}
.section {
    display: flex;
    width: 30%;
    height: 100%;
    background-color: salmon;
    border-radius: 20px;
    padding: 25px;
}
.photo {
    width: 50%;
}
.photo img {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.photo p {
    text-align: center;
}

/* 博客文档 */
.published {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    padding: 25px;
}

.item {
    display: flex;
    width: 100%;
    height: 225px;
    padding: 5px 10px;
    background: rgba(0, 0, 0, .3);
    border-radius: 20px;
    margin-bottom: 25px;
    /*transform: ;*/
    transition: .4s;
}













